<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-05-28T02:55:04Z</date>
		<key>actualSize</key>
		<integer>413835</integer>
		<key>attributeModDate</key>
		<date>2009-05-28T02:55:04Z</date>
		<key>createDate</key>
		<date>2009-05-27T03:54:45Z</date>
		<key>creationDate</key>
		<date>2009-06-04T20:49:36Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>93619AE5-4B55-4CD1-8F3D-BB8512B9B338</string>
		<key>lastModifiedDate</key>
		<date>2009-05-22T02:39:35Z</date>
		<key>originalPath</key>
		<string>/Users/xiaofengxie/myAcadamic/Programming/uniMAOS/binary/MAOS_CON.jar</string>
		<key>originalSize</key>
		<integer>413835</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>7E9A56F9-E5A9-45E4-B14E-12DC1FAF182F</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
