<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-05-27T00:31:24Z</date>
		<key>actualSize</key>
		<integer>479720</integer>
		<key>attributeModDate</key>
		<date>2009-05-22T02:53:29Z</date>
		<key>createDate</key>
		<date>2009-05-22T02:39:25Z</date>
		<key>creationDate</key>
		<date>2009-06-04T20:49:36Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>B99CABFA-4480-4DFC-9C60-B5BD781351EE</string>
		<key>lastModifiedDate</key>
		<date>2009-05-22T02:39:26Z</date>
		<key>originalPath</key>
		<string>/Users/xiaofengxie/myAcadamic/Programming/uniMAOS/binary/MAOS_BIN2.jar</string>
		<key>originalSize</key>
		<integer>479720</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>28FCAE9E-AA20-4FDE-919D-5F5E561DB224</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
